# GitHub CLI configuration — managed by chezmoi
# https://cli.github.com/manual/gh_config

# Protocol to use when performing Git operations
git_protocol: ssh

# Text editor used for authoring commit messages, PR descriptions, etc.
editor: nvim

# When to interactively prompt: enabled, disabled
prompt: enabled

# Pager program to send command output to
pager: delta

# Web browser used when opening links in the browser
browser: ""

# Format version
version: "1"

