{{- if ne .chezmoi.os "windows" }}
[".local/share/blesh"]
type = "archive"
url = "{{ printf "https://github.com/akinomyoga/ble.sh/releases/download/%s/ble-%s.tar.xz" .ble.tag (trimPrefix "v" .ble.tag) }}"
exact = true
stripComponents = 1

[".local/share/k9s/plugins"]
type = "archive"
url = "https://github.com/derailed/k9s/archive/refs/heads/master.tar.gz"
exact = false
stripComponents = 2
include = ["k9s-master/plugins/**"]
filter.command = "sh"
filter.args = [
	"-c",
	'''
set -eu
tmp="${TMPDIR:-/tmp}/chezmoi-k9s-plugins.$$"
mkdir -p "$tmp"
trap 'rm -rf "$tmp"' EXIT HUP INT TERM

tar xzf - -C "$tmp"
for file in "$tmp"/k9s-master/plugins/*.yaml; do
	[ -e "$file" ] || continue
	awk '
		/^plugins:[[:space:]]*$/ { in_plugins = 1; next }
		in_plugins && /^  / { print substr($0, 3); next }
		{ print }
	' "$file" > "$file.tmp"
	mv "$file.tmp" "$file"
done
tar czf - -C "$tmp" k9s-master/plugins
'''
]
refreshPeriod = "168h"
{{- end }}
