{{- if ne .chezmoi.os "windows" }}
Documents/WindowsPowerShell
.chezmoiscripts/*.ps1
{{- end }}

{{- if eq .chezmoi.os "windows" }}
.chezmoiscripts/*.sh
.Xresources
.minttyrc
.config/terminator
.config/tilda
.config/screen
.config/powershell
{{- end }}
