{{- /* Native machine-local configuration prompted once via chezmoi init */ -}}
{{- $git := index . "git" | default dict -}}
{{- $dev := index . "dev" | default dict -}}
{{- $shell := index . "shell" | default dict -}}
{{- $ssh := index $shell "ssh" | default dict -}}

{{- $name := promptStringOnce $git "name" "Git user name (user.name)" "Steven 'NemesisRE' Kurz" -}}
{{- $email := promptStringOnce $git "email" "Git email address (user.email)" "nemesissre@gmail.com" -}}
{{- $signingkey := promptStringOnce $git "signingkey" "Git signing key (SSH/GPG public key or path)" "" -}}
{{- $gitFormat := promptChoiceOnce $git "format" "Git commit signing format" (list "ssh" "openpgp") "ssh" -}}
{{- $projects := promptStringOnce $dev "projects" "Projects directory" "~/Repos" -}}
{{- $multiplexer := promptBoolOnce $shell "multiplexer" "Enable remote multiplexer (attach zellij on remote login)" true -}}
{{- $sshAgent := promptChoiceOnce $ssh "agent" "SSH agent provider" (list "default" "bitwarden" "pipe" "gpg") "default" -}}

{{- if and (hasKey .chezmoi "workingTree") (ne .chezmoi.workingTree (joinPath .chezmoi.homeDir ".local/share/chezmoi")) }}
sourceDir = {{ .chezmoi.workingTree | quote }}
{{- end }}

[data.git]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    signingkey = {{ $signingkey | quote }}
    format = {{ $gitFormat | quote }}

[data.dev]
    projects = {{ $projects | quote }}

[data.shell]
    multiplexer = {{ $multiplexer }}

[data.shell.ssh]
    agent = {{ $sshAgent | quote }}
