{{- if ne .chezmoi.os "windows" }}
AppData
Documents/WindowsPowerShell
.chezmoiscripts/*.ps1
{{- end }}

{{- if and (eq .chezmoi.os "linux") (hasKey .chezmoi "kernel") (hasKey .chezmoi.kernel "osrelease") (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
.chezmoiscripts/*kitty.sh
{{- end }}

{{- if eq .chezmoi.os "windows" }}
.chezmoiscripts/*.sh
.Xresources
.minttyrc
.config/terminator
.config/tilda
.config/screen
.config/powershell
{{- end }}
