{{ if and (ne .chezmoi.os "windows") (lookPath "ya") -}}
#!/usr/bin/env bash
# package.toml hash: {{ include "dot_config/yazi/package.toml.tmpl" | sha256sum }}
ya pkg install --discard >/dev/null 2>&1 || true
{{ end -}}
