#!/usr/bin/env zsh
#
# vim: ts=2 sw=2 et ff=unix ft=zsh syntax=zsh
# chezmoi-generated monolithic bundle of all zsh nredf shell functions.
# Generated on chezmoi apply — loaded in <1ms on shell startup.

{{ include "dot_local/share/nredf/shell/zsh/functions/nredf_init_oh_my_posh.zsh" }}
{{ include "dot_local/share/nredf/shell/zsh/functions/nredf_sheldon.zsh" }}
{{ include "dot_local/share/nredf/shell/zsh/functions/nredf_inshellisense.zsh" | trim }}
