#!/usr/bin/env bash

# Only proceed when running under WSL; otherwise, exit/return quietly
if [[ -z "${WSL_DISTRO_NAME:-}" ]] && ! grep -qiE "(microsoft|wsl)" /proc/sys/kernel/osrelease 2>/dev/null; then
  local NREDF_DATA="${XDG_DATA_HOME:-${HOME}/.local/share}/nredf"
  NREDF_CONFIG="${HOME}/.config/nredf"
  if [[ -e "${NREDF_DATA}/shell/common/functions/nredf_set_ssh_agent.bash" ]]; then
    if [[ -e "${NREDF_CONFIG}/config.bash" ]]; then
      # shellcheck disable=SC1090
      source "${NREDF_CONFIG}/config.bash"
    fi
    source "${NREDF_DATA}/shell/common/functions/nredf_set_ssh_agent.bash"

    nredf_set_ssh_agent
  fi
fi
