# Top monitor pane: CPU and processes stacked vertically

[flags]
rate = "1s"
hide_time = false
temperature_type = "c"

[[row]]
  ratio = 1
  [[row.child]]
    type = "cpu"

[[row]]
  ratio = 1
  [[row.child]]
    type = "proc"

{{ template "bottom-styles.tmpl" . }}
