# Side monitor pane: Disk and Network stacked vertically

[flags]
rate = "1s"
hide_time = false
temperature_type = "c"

[[row]]
  ratio = 1
  [[row.child]]
    type = "disk"

[[row]]
  ratio = 1
  [[row.child]]
    type = "net"

{{ template "bottom-styles.tmpl" . }}
